Main/Main/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61382/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61382/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61382/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:61382/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:61382/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LibraryService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AddNewReader_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewReader" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewReader_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewReaderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_HasExpires_InputMessage">
    <wsdl:part name="parameters" element="tns:HasExpires" />
  </wsdl:message>
  <wsdl:message name="IService1_HasExpires_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasExpiresResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewAbonement_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewAbonement" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewAbonement_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewAbonementResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllReaders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReaders" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllReaders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReadersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWriteOffBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWriteOffBooks" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWriteOffBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWriteOffBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetReplenishBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReplenishBooks" />
  </wsdl:message>
  <wsdl:message name="IService1_GetReplenishBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReplenishBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteWriteOffBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWriteOffBooks" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteWriteOffBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWriteOffBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewBook" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAbonement_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAbonement" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAbonement_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAbonementResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReturnBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBooks" />
  </wsdl:message>
  <wsdl:message name="IService1_ReturnBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGenre" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenreResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AddNewReader">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewReader" message="tns:IService1_AddNewReader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewReaderResponse" message="tns:IService1_AddNewReader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasExpires">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HasExpires" message="tns:IService1_HasExpires_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HasExpiresResponse" message="tns:IService1_HasExpires_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBooks" message="tns:IService1_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBooksResponse" message="tns:IService1_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewAbonement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewAbonement" message="tns:IService1_AddNewAbonement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewAbonementResponse" message="tns:IService1_AddNewAbonement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReaders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllReaders" message="tns:IService1_GetAllReaders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllReadersResponse" message="tns:IService1_GetAllReaders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWriteOffBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetWriteOffBooks" message="tns:IService1_GetWriteOffBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetWriteOffBooksResponse" message="tns:IService1_GetWriteOffBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReplenishBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetReplenishBooks" message="tns:IService1_GetReplenishBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetReplenishBooksResponse" message="tns:IService1_GetReplenishBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWriteOffBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteWriteOffBooks" message="tns:IService1_DeleteWriteOffBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteWriteOffBooksResponse" message="tns:IService1_DeleteWriteOffBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewBook" message="tns:IService1_AddNewBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewBookResponse" message="tns:IService1_AddNewBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAbonement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAbonement" message="tns:IService1_GetAbonement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAbonementResponse" message="tns:IService1_GetAbonement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReturnBooks" message="tns:IService1_ReturnBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReturnBooksResponse" message="tns:IService1_ReturnBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGenre" message="tns:IService1_GetGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGenreResponse" message="tns:IService1_GetGenre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewReader">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewReader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasExpires">
      <soap:operation soapAction="http://tempuri.org/IService1/HasExpires" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewAbonement">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewAbonement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReaders">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllReaders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWriteOffBooks">
      <soap:operation soapAction="http://tempuri.org/IService1/GetWriteOffBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReplenishBooks">
      <soap:operation soapAction="http://tempuri.org/IService1/GetReplenishBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWriteOffBooks">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteWriteOffBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewBook">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAbonement">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAbonement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBooks">
      <soap:operation soapAction="http://tempuri.org/IService1/ReturnBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenre">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:61382/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>